/* @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'; */
@import 'http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.AlignSFE {
    display: flex;
    align-self: flex-end;
}

.AlignSFS {
    display: flex;
    align-self: flex-start;
}
