<div id = "dogRgInf" style="display: none" class = "rgFlow">
  <input class = "inputRg" type = "text" placeholder = "Digite o nome"/>
  <input class = "inputRg" type = "text" placeholder = "Digite data de nascimento"/>
  <input class = "inputRg" type = "text" placeholder = "Digite o peso"/>
  <select class = "selOpt inputRg">
    <option> Shih-Tzu </option>
    <option> Shih-Tzu 2.0 </option>
  </select>
  <div class = "div-RdBut">
    <input class = "rdBut" type = "radio" name = "porte" value = "grande">  Grande<br>
    <input class = "rdBut" type = "radio" name = "porte" value = "medio"/>  Medio<br>
    <input class = "rdBut" type = "radio" name = "porte" value = "pequeno"/>  Pequeno<br>  
  </div> 
  <div class = "d-flex justify-content-between div-RgBut">
      <button type = "button" class = "btn btn-primary rgButL" data-toggle = "button" aria-pressed = "false" autocomplete = "off">
          Voltar
      </button>
    <button type = "button" class = "btn btn-primary rgButR" data-toggle = "button" aria-pressed = "false" autocomplete = "off">
      Proximo
    </button>   
  </div>
</div>
<div id = "dogRgHealt" class = "rgFlow">
  <p>É vacinado</p>
  <div class = "div-RdBut">
    <input class = "rdBut" type = "radio" name = "castrado" value = "sim">  Sim<br>
    <input class = "rdBut" type = "radio" name = "castrado" value = "nao"/>  Não<br>
    <input class = "rdBut" type = "radio" name = "castrado" value = "nao sei"/>  Não sei<br>
  </div>
  <p>Possui vacina</p>
  <div class = "div-RdBut">
    <input class = "rdBut" type = "radio" name = "vacinado" value = "sim">  Sim<br>
    <input class = "rdBut" type = "radio" name = "vacinado" value = "nao"/>  Não<br>
    <input class = "rdBut" type = "radio" name = "vacinado" value = "nao sei"/>  Não sei<br>
  </div>
  <p>Possui doençã cronica</p>
  <div class = "div-RdBut">
    <input class = "rdBut" type = "radio" name = "cronica" value = "sim">  Sim<br>
    <input class = "rdBut" type = "radio" name = "cronica" value = "nao"/>  Não<br>
    <input class = "rdBut" type = "radio" name = "cronica" value = "nao sei"/>  Não sei<br>
  </div>
  <select class = "selOpt inputRg">
    <option> Algo </option>
    <option> Algo 2.0 </option>
  </select>
</div>