################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AplicacaoCPP/AplicacaoCPP.VC.VC.opendb
/AplicacaoCPP/AplicacaoCPP.VC.db
/AplicacaoCPP/ipch/APLICACAOCPP-8f4e218
/Templates/.vs/Templates/v15
/Templates/Templates/Debug
/Recursividade/.vs/Recursividade/v15
